.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;

    margin: 1.3rem 0 1.3rem 0;
}

.menu {
    display:flex;
   
}

.menu li {
    padding-right: 3rem;
    margin-right: 2rem;
    list-style-type: none; 
}
.homepagePhoto {
    position:relative;
    
}
.homepageImage {
    max-width: 100%;
}

.titleInPhoto {
    height:300px;

    position:absolute;
    color: white;
    top: calc(50% - 100px);
    left:15%;
}
.titleInPhoto span{
       color: #4EB1D5;
}

.services {
    margin-top: 5%;
}
.separator {
    position:relative;
    
    height: 2px;
    width: 10%;

    margin:auto;
    background-color:rgb(172, 172, 172);
}

.separator::before {
    content:"";
    position:absolute;
    display:inline;
    border:solid 4px white;
    left: calc(50% - 7.5px);
    top:-11.5px;
    height: 15px;
    Width:15px;
    border-radius: 50%;
    background-color: #4EB1D5;
}

   


.title, .comment {
    text-align: center;
}

.button {

    display:inline-block;
    background-color:  #4EB1D5;
   
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 5px #3A84A3;
}

.serviceSection {
    display:flex;
}

.screen {
    width:50%;
}

.infos {
    width:50%;
}

.infos li {
    list-style-type: none; 
    padding-left: 10%;
    padding-right: 10%;
}




